* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-size: 50px;
}

.hamburguer {
    height: 80px;
    width: 80px;
    text-align: center;
    z-index: 100;
    cursor: pointer;
    transition: color .5s ease-in;
    display: none;
}

.hamburguer > i{
    font-size: 25px;
    line-height: 80px;
}

.contenedor {
    width: 90%;
    max-width: 1400px;
    margin: auto;
    overflow: hidden;
}

.contenedor h1 {
    margin-bottom: 5%;
}

header::before {
    content: "";
    display: block;
    margin-bottom: 80px;
}

nav {
    width: 100%;
    height: 80px;
    background: #fff;
    border-bottom: 1px solid transparent;
    box-shadow: 1px 1px 10px 0 rgba(0,0,0,.2);
    position: fixed;
    top: 0;
    z-index: 100;
}

.nav {
    display: flex;
    height: 80px;
    width: 100%;
    align-items: center;
}

.enlaces-header {
    font-weight: 300;
    margin: auto;
    transition: all ease-in-out .6s;
}

.nav .enlaces-header a {
    color: #5d6678;
    text-decoration: none;
    margin-left: 20px;
    padding: 12px;
    border-radius: 10px;
}

.nav .enlaces-header a:hover {
    color: #fff;
    background-color: #3ca0e2;
    border-color: #094379;
    transition: all ease-in-out .5s;
}

.titulospro {
    text-align: left;
    margin: 20px 0;
}

.contenido-header {
    width: 80%;
    height: 600px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin: 0 auto;
}

.contenido-header > img {
    width: 300px;
    height: 350px;
    margin-left: 75px;
    animation: ease-in animation 0.5s;
    border: 3px solid rgb(31, 162, 238);
    border-radius: 3%;
    box-shadow: 5px 2px 12px 2px #b7c0d3;
}

.textos-header {
    margin: 0 0 0 30px;
}

.contenido-header P {
    font-weight: 300;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #423e3e;
    text-align: justify;
}

@keyframes animacion {
    0% { transform: scale(0); }
    100% { transform: scale(1); }
}

.contenido-header a {
    margin: 28px 0 0 0;
    width: 150px;
    display: inline-block;
    background-color: #00719e;
    text-align: center;
    color: #fff;
    text-decoration: none;
    padding: 12px 0;
    border-radius: 5px;
    font-weight: 400;
    font-size: 16px;
    text-transform: uppercase;
    box-shadow: 0 8px 32px rgba(31, 73, 97, 0.46);
}


.contenedor a:hover {
    background-color: #49aed6;
    transition: all ease-in-out .4s;
}

/* ################################# EDUCATION ################################### */

.section-education {
    background-color: #acd7ff;
}

.contenedor h1 {
    font-size: 40px ;
}

.section-education .title {
    display: block;
    margin: 15px 0;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
}

.content-education {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-bottom: 30px;
}

.education {
    width: 30%;
    background-color: #fff;
    border-radius: 8px;
    padding: 30px;
}
.education i {
    border: 2px solid #03aadd ;
    border-radius: 50%;
    background-color: #005780;
    color: #fff;
    width: 50px;
    height: 50px;
    font-size: 25px;
    text-align: center;
    line-height: 36px;
}

.education:hover {
    background-color: #0c9bdd;
    box-shadow: 0 0 8px gray;
    transition: all ease-in-out;
    color: #fff;
}

.content-education .education a {
    color: gray;
    font-size: 12px;
    text-decoration: none;
}

.content-education .education a:hover {
    color: #fff;
}

/* ################################## HABILIDADES ################################## */

.habilidades {
    background-color:#ffffff ;
}

.habilidades h1 {
    font-size: 40px;
    text-align: center;
    margin-top: 20px;
}

.content-skills {
    display: flex; 
    flex-wrap: wrap; 
    margin-top: 50px;
    justify-content: space-evenly; 
}
.skills {
    width: 32%;
    margin-bottom: 70px;
    transition: 0.5s;
    text-align: center;
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 5px;
}

.skills h2 {
    margin-bottom: 20px;
    color: black;     
}

.skills img {
    width: auto;
    height: 60px;
    margin-top: 20px;
    cursor: pointer;
    margin: 0 5px;
    padding: 5px;
    color: #565759;
}

.skills img.softskills {
    height: 68px;
}

.skills img:hover {
    transition-duration: .7s;
    transform: rotate(360deg);
}

.skills:hover {
    box-shadow: 0 4px 10px rgba(17, 29, 48, .26);
    color: #fff;
    background: #185672;
    transition: .5s;
}

/* ############################### CERTIFICADOS ################################ */

.section-certificates {
    margin-bottom: 3%;
}

.section-certificates .title {
    display: block;
    width: 100%;
    margin-bottom: 2%;
    text-align: center;
    text-transform: uppercase;
}


.content-certificates {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-bottom: 30px;

}

.certificates {
    width: 22%;
    border-radius: 5px;
    border: 1px solid #034174;
    text-align: center;
    margin-top: 17px;
    padding: 15px;
    
}

.certificates img {
    height: 80px;
    width: auto;
}

.certificates a {
    text-decoration: none;
    color: grey;
    font-size: 12px;
}

.certificates:hover {
    background-color: #5d9ebd;
    box-shadow: 0 0 8px rgb(0, 93, 129);
    transition: all ease-in-out .4s;
    color: #fff;
    transform: scale(1.1);
    border: 2px solid rgb(0, 73, 156);
}

.certificates a:hover {
    color: whitesmoke;
}

/* ############################## CONTACTO ##################################### */


.inforpersonal {
    background-color: #ececec;
}

.title {
    text-align: center;
    margin-top: 3%;
}

.content-infopersonal {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 50px 0;
}

.space-infoperson {
    width: 30%;
    /* margin: auto; */
    text-align: center;
}

.space-infoperson img {
    width: 60%;
    height: 85%;
    background-color:#ececec;
    border-radius: 10px;
    border: 5px solid #7fbbff;
}

.space-infoperson p {
    text-align: justify;
    margin-top: 6%;
    font-size: 300;
    color: #424344;
}

.space-infoperson img:hover {
    box-shadow: 0 5px 20px rgba(17, 29, 48, .26);
    transition: .5s;
}

/* ############################### *PIE DE PAGINA ############################## */


footer {
    background-color: rgb(70, 70, 70);
    padding: 50px 0 20px 0;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
    margin: auto;
}

.partFooter {
    width: 22%;
    text-align: center;
}


.partFooter img{
    width: 60%;
}

.partFooter h4{
    color: #fff;
    font-size: 20px;
    font-weight: 400px;
    margin-bottom: 15px;
    background-color: #04577e;
    padding: 5px;
    border: 1px solid;
    border-radius: 5px;
}

.contact {
    margin: 10px;
    display: block;
    text-align: left;
}

.contact > i {
    float: left;
    margin: 0 0 0 10px;
    color: #fff;
    border-radius: 50px;
    border: 1px solid;
    height: 30px;
    width: 30px;
    line-height: 28px;
    text-align: center;
    align-items: center;
}

.contact > p {
    margin-left: 50px;
    align-items: center;
    line-height: 28px;
    font-weight: 500px;
    color: #fff;
}

.partFooter > a {
    display: block;
    text-decoration: none;
    color: #fff;
    margin-bottom: 10px;
    font-weight: 500;
    padding: 5px;
}

.partFooter > a:hover {
    background-color: #5d9ebd;
    border-color: #3a93e7;
    border-radius: 5px;
    transition: all ease-in-out .5s;
}

.social-media > a > i {
    font-size: 20px;
    display: inline-block;
    color: #fff;
    border: 1px solid #fff;
    width: 38px;
    height: 38px;
    line-height: 36px;
    cursor: pointer;
    margin-top: 20px;
    text-align: center;
    transition: all ease-in-out .6s;
    margin-right: 5px;
    border-radius: 50%;
}

.social-media > a > i:hover {
    background-color: #5d9ebd;
    border-color: rgb(88, 199, 255);
}

/* ########################### BREAKPOINTS ############################## */

@media screen and (max-width:700px)
{
    .hamburguer {
        display: block;
    }

    .enlaces-header {
        position: fixed;
        background-color: #03aadd;
        top: 0;
        right: 0;
        width: 100%;
        height: 100vh;
        display: flex;
        align-items: center;
        flex-direction: column;
        clip-path: circle(0.0% at 0 0);
    }

    .nav .hamburgueropen {
        clip-path: circle(150.0% at 0 0);
    }

    .nav .enlaces-header a {
        color: white;
        background-color: #3077b9;
        text-transform: uppercase;
        font-weight: 800;
        width: 50%;
        text-align: center;
        margin-top:20px;
    }

    h1 {
        font-size: 28px;
        margin-top: 10px;
    }

    .textos-header {
        margin: 0px;
    }

    .contenido-header{
        display: block;
        height: auto;
        margin-bottom: 15px;
    }

    .contenido-header > img {
        margin: 35px 0 0 0px;
        width: 200px;
        height: 240px;
    }

    /* SECTION EDUCATION */

    .education{
        width: 80%;
        margin-bottom: 15px;
    }

     /* SECTION CERTIFICATES */

     .certificates{
         width: 45%;
     }

     .certificates img {
         height: 80px;
     }

      /* SECTION FOOTER */

      .partFooter img {
          display: none;
      }

      .partFooter{
          width: 90%;
          margin-bottom: 10px;
      }
}